/NamesApp6/target/
/DistributedJava-Store-Maven/target/
/NamesApp_Store/nbproject/private/
/edu.wctc.dj.week10_NamesApp10_war_1.0-SNAPSHOT/target/
/DistributedJava-Store-JDBC/target/
/DistributedJava-Store-JPA/target/